<mat-card>
    <form (submit)="onEditDriver(driverForm)" #driverForm="ngForm">
      <mat-form-field>
          <label> Driver Name</label>
        <input
          matInput
          type="text"
          name="Name"
          ngModel={{driver.Name}}
          required
          #title="ngModel">
      </mat-form-field>
      <mat-form-field>
          <label>Driver Team</label>
        <textarea
          matInput
          name="Team"
          ngModel={{driver.Team}}
          required
          #content="ngModel"></textarea>
      </mat-form-field>
      <mat-form-field>
          <label>Driver CarNum</label>
        <textarea
          matInput
         rows="4"
          name="CarNum"
          ngModel={{driver.CarNum}}
          required
          #content="ngModel"></textarea>
      </mat-form-field>
      <button
        mat-raised-button
        color="accent"
        type="submit">Edit Driver</button>
    </form>
  </mat-card>


